<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Blocipedia: Social, Markdown wikis</h1>
    <div class="jumbotron">
      <h2 class="text-center">Create and Share Markdown Wikis</h2>
      <p class="text-center signup"><a class="btn btn-primary btn-lg down-20" href="#" role="button">Sign Up</a></p>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <h3>Create as many public wikis as you want</h3>
    <a class="btn btn-warning btn-lg down-20" herf="#" role="button">Public Button</a>
    <h4 class="down-20">Free Plan</h4>
  </div>

  <div class="col-md-6 text-center">
    <h3>Create private wikis</h3>
    <a class="btn btn-warning btn-lg down-20" herf="#" role="button">Private Button</a>
    <h4 class="down-20">Premium Plan</h4>
  </div>

</div>
