<div class="row">
  <div class="col-md-6">
    <h2>Edit Wiki</h2>
    <%= render partial: 'wikis/form' %>
  </div>
  <div class="col-md-4 down-40">
    <% if @wiki.private? %>
    <%= render partial: 'collaborations/collaborators', locals: { wiki: @wiki, collaboration: @collaboration } %>
  <% end %>
  </div>
</div>
