<div class="row">
  <div class="col-md-8">
    <h3>Benifits of Becoming a Premium Member</h3>
    <ul>
      <li>You'll feel better about yourself</li>
      <li>You can create Private Wikis</li>
      <li>You can invite users you trust to work on your private Wikis</li>
    </ul>
  </div>
  <div class="col-md-4">
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: $15.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="1500"
              data-locale="auto"></script>
    <% end %>
  </div>
</div>
